@use "./styles/extends/scroll" as *;
@use "./styles/extends/glass" as *;


.details{
  &__item{
    max-height: 65vh;
  
    &[open] {
      @extend %glass_secondary;
      @extend %scroll_barr;
      overflow: auto;
      padding-bottom: 1.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, calc(0% + 20px) 100%, 0 calc(100% - 20px));
      &>.details__sumary {
        text-decoration: underline;
        position: sticky;
        top: 0;
        background-color: #fff;
        margin-bottom: 1.75rem;
        z-index: 1;
      }
    }
  }
  &__sumary{
    @extend %glass_typey-1;
    cursor: pointer;
    user-select: none;

    margin-left: auto;
  
    &::marker {
      content: '';
    }
  
    &::after {
      content: '';
      width: 0%;
      height: 100%;
      position: absolute;
      background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0.75) 100%);
      left: 0;
      z-index: -1;
      top: 0;
      transition: width .25s ease-in-out;
    }
  
    &:hover {
      &::after {
        width: 100%;
      }
    }
  
    [data-icon] {
      transition: transform .25s ease-in-out;
      width: fit-content;
    }
  }
  &__content{
    padding: 0 1.5rem;
    &--0{
      padding: 0;
    }
  }
}
