---
// import BaseTemplate from "layouts/BaseTemplate/BaseTemplate.astro";
import PageTemplate from "layouts/PageTemplate/PageTemplate.astro";
import TreeForest from "components/forest_three/TreeForest.astro";
import Under_construction_site from "components/under_construction_site/under_construction_site.astro";
import NavSide from "components/Nav/NavSide.astro";
import Aboutme from "components/Aboutme/Aboutme.astro";
---

<PageTemplate title="home">
	<TreeForest slot="background" />
	<main slot="main">
		<Under_construction_site />
		<Aboutme />
		<NavSide />
	</main>
</PageTemplate>
