@use "./styles/extends/glass" as *;
@use "./styles/extends/scroll" as *;
.glass-btn{
  // @extend %glass_secondary;
  
  background-repeat: repeat;
}
.description{
  width: 540px;
  max-width: calc(100vw - 1.5rem);
  max-height: 80vh;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .25));
  &__container{
    @extend %scroll_barr;
    max-height: 80vh;
    overflow: auto;
  }
  &[open]{
    animation-name: jump;
    animation-duration: .5s;
  }
  &::backdrop{
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, .25);
  }
  hr{
    border-top: 1px solid #c3c3c3;
  }
}

@keyframes jump {
  0% {
    transform: translateY(200%);
  }
  
  100% {
    transform: translateY(0%);
  }
}