---
import "styles/components.css";
import "./NavSide.css";

import Link from "./Link.astro";
import { navData } from "data/navData";
---

<nav class="side-nav fixed bottom-0 right-0 mt-auto w-fit">
	<div
		class="contact flex flex-col gap-3 py-5 px-3 notch-tl text-center lg:ml-auto">
		{
			navData.map((item) => (
				<Link
					text={item.text}
					href={item.href}
					icon={item.icon}
					classes={item.classes}
					rel={(item.rel as "external" | "author" | undefined)}
				/>
			))
		}
	</div>
</nav>
